.button {
  display: flex;
  justify-content: center;

  gap: 8px;
  align-items: center;
  background: var(--blue-900);
  color: var(--gray-100);
  border-radius: 8px;
  border: none;
  padding: 16px;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 140%;

  transition: 0.3s;
}

.button:hover {
  background: var(--blue-500);
}
